@CHARSET "UTF-8";
.cb_stats #cb_graph { 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
.cb_stats { 
	padding: 0px 0px 10px 0px;}
.cb_stats li { 
	font-weight: bold;
	padding: 0px 5px 0px 0px;
	line-height: 120%; }
#cb_stats { float: left; width: 50%}
#cb_traffic { float: right; width: 50%}